@page
@model ASP.NET.Pages.UsersViewModel
@{
}
<body>
	<div class="container">
		<form method="post">
			<div style="text-align:center;">
				<table>
					<tr>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
					</tr>
					@foreach (var user in Model.UserView.UserManager.GetAllUsersForView())
					{
						<tr id="row-@user.ID">
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.ID</a></td>
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.FirstName</a></td>
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.LastName</a></td>
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.Email</a></td>
						</tr>
						@if(Model.SelectedRow == @user.ID)
						{
							<tr>
								<td>
							SUCK MEIN COCK
							</td>
						</tr>
						}
						
					}
				</table>
			</div>
		</form>
	</div>
</body>
