@page
@model WebApp.Pages.UsersViewModel
@{
	ViewData["Title"] = "Users overview";
	string btnBlock(bool IsBlocked) => IsBlocked ? "Unblock" : "Block";
}
<body>
	<div class="container">
		<form method="post">
			<div style="text-align:center;">
				<table>
					<tr>
						<th>ID</th>
						<th>First name</th>
						<th>Last name</th>
						<th>Email</th>
						<th>Block/Unblock</th>
						<th>Make admin</th>
					</tr>
					@foreach (var user in Model.UserViewManager.GetAllUsersForView())
					{
						var usr = @Model.UserManager.GetUserById(user.ID);
						bool IsBlocked = usr.IsBlocked;

						<tr id="row-@user.ID">
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.ID</a></td>
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.FirstName</a></td>
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.LastName</a></td>
							<td><a asp-page="/UsersView" asp-fragment="row-@user.ID" asp-route-SelectedRow="@user.ID" class="td-link">@user.Email</a></td>
							@{
								if (!usr.IsAdmin)
								{
									<td><button class="btn fullwidth" type="submit" asp-page-handler="block" a asp-page="/UsersView" asp-route-SelectedRow="@user.ID">@btnBlock(IsBlocked)</button></td>
									<td><button class="btn fullwidth" type="submit" asp-page-handler="admin" a asp-page="/UsersView" asp-route-SelectedRow="@user.ID">Make admin</button></td>
								}
								else if (usr.IsAdmin)
								{
									<td>User is admin</td>
									<td>Already admin</td>
								}
							}
						</tr>
					}
				</table>
			</div>
		</form>
	</div>
</body>
